.App{
  text-align: center;
  min-height: 100vh;
  background-color: #c92525;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header{
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.items{
  margin-top: 10vh;
}

.item-title{
  margin-bottom: 2vh;
  font-weight: bold;
}

.item-div{
  margin-top: 1vh;
}

.link{
  text-decoration: underline;
}

a{
  margin-right: 5px;
  text-decoration: none;
  color: rgb(53, 49, 49);
}
